/* 导航栏 begin */
.navbar {
    min-height: 70px;
}

.navbar-brand {
    height: 70px;
    padding: 25px 15px;
    line-height: 20px;
}

.navbar-nav {
    li {
        a {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}
/* 导航栏 end */

/* 主体 begin */
.link-group {
    display: block;
    border: 1px #efefef solid;
    padding: 20px;
    box-shadow: 2px 2px 10px #888888;
    -moz-box-shadow: 2px 2px 10px #888888;

    .link-title {
        margin-bottom: 10px;
        border-left: solid 2px;
        padding-left: 20px;

        &.info {
            border-color: #50b8f5;
        }
    }

    .link-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .link-item {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}
/* 主体 end */
